html{
    position: relative;
}
.comment{
    border: 1px solid black;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 20px;
}
.star{
    font-size: 3em;
    color: #d9dadc;
    border: none;
    background: none;
}
.spacer{
    margin: 10px 0;
}