{% load bootstrap4 %}
<h2>Note moyenne</h2>
{{ score_mean }}

<h2>Commentaires</h2>

<div class="pagination">
    <span class="step-links">
        {% if comments.has_previous %}
            <a href="?page=1">Première page</a>
            <span> - </span>
            <a style="font-size: 25px; font-weight: bold;" href="?page={{ comments.previous_page_number }}"><</a>
        {% endif %}

        <span class="current">
            Page {{ comments.number }} / {{ comments.paginator.num_pages }}
        </span>

        {% if comments.has_next %}
            <a style="font-size: 25px; font-weight: bold;" href="?page={{ comments.next_page_number }}">></a>
            <a href="?page={{ comments.paginator.num_pages }}">Dernière page</a>
        {% endif %}
    </span>
</div>

{% for comment in comments %}

    <div class="comment">
        <h3> {{ comment.author }} </h3>
        <p>{{ comment }}</p>
    </div>

{% empty %}
    <p>Soyez le premier à commenter cette recette !</p>
    {% if not user.is_authenticated %}
        <p><a href="{% url 'login' %}">Pour cela connectez vous ici</a></p>
    {% endif %}

{% endfor %}
{% if user.is_authenticated %}
<form action="{% url 'recipes:comment' recipe.id %}" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">Valider le commentaire</button>
    {% endbuttons %}
</form>
{% endif %}