{% extends "core/base.html" %}
{% load bootstrap4 %}

{% block content %}

    <h1>Ajouter une recette</h1>
    <form action="{% url 'recipes:create' %}" method="post" style="height: 100%" enctype="multipart/form-data">
       {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">Valider</button>
    {% endbuttons %}
    </form>
{% endblock %}