{% extends "core/base.html" %}
{% load bootstrap4 %}

{% block content %}



    <table class="table table-bordered" style="margin: 20px 0">
        <thead>
        <tr>
            <th colspan="2">Résumé de la recette <i>{{ recipe.name }}</i></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Temps de préparation</td>
            <td>{{ recipe.time_preparation }} minute(s)</td>
        </tr>
        <tr>
            <td>Temps de cuisson</td>
            <td>{{ recipe.time_cooking }} minute(s)</td>
        </tr>
        <tr>
            <td>Temps de repos</td>
            <td>{{ recipe.time_rest }} minute(s)</td>
        </tr>
        <tr>
            <td>Coût</td>
            <td>{{ recipe.cost }} €</td>
        </tr>
        <tr>
            <td>Les étapes</td>
            <td>{{ recipe.steps }}</td>
        </tr>

        </tbody>
    </table>


    <h2>Ajouter des informations complémentaires</h2>
    <p>Ces informations ne sont pas obligatoire mais permettent une meilleure visibilité de votre recette sur notre site</p>
    <form action="{% url 'recipes:create_step2' recipe.id %}" method="post" style="height: 100%">
        {% csrf_token %}
        {{ formset.management_form }}
        {% for form in formset %}
            <div class="row form-row spacer">
                <div class="col-2 select-meta-type-cont">
                    {{form.select_type}}
                </div>
                <div class="col-4">
                    <div class="input-group select-meta-data-cont">
                        {{form.value_type}}
                        <div class="input-group-append">
                            <button class="btn btn-success add-form-row">+</button>
                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}

        {% buttons %}
            <button type="submit" class="btn btn-primary">Valider</button>
        {% endbuttons %}
    </form>



    <script type='text/javascript'>
        function updateElementIndex(el, prefix, ndx) {
            var id_regex = new RegExp('(' + prefix + '-\\d+)');
            var replacement = prefix + '-' + ndx;
            if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
            if (el.id) el.id = el.id.replace(id_regex, replacement);
            if (el.name) el.name = el.name.replace(id_regex, replacement);
        }
        function cloneMore(selector, prefix) {
            var newElement = $(selector).clone(true);
            var total = $('#id_' + prefix + '-TOTAL_FORMS').val();

            newElement.find('input').each(function() {
                var name = $(this).attr('name').replace('-' + (total-1) + '-', '-' + total + '-');
                var id = 'id_' + name;
                $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
            });

            newElement.find('select').each(function() {
                var name = $(this).attr('name').replace('-' + (total-1) + '-', '-' + total + '-');
                var id = 'id_' + name;
                $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
            });

            total++;
            $('#id_' + prefix + '-TOTAL_FORMS').val(total);
            $(selector).after(newElement);
            var conditionRow = $('.form-row:not(:last)');
            conditionRow.find('.btn.add-form-row')
                .removeClass('btn-success').addClass('btn-danger')
                .removeClass('add-form-row').addClass('remove-form-row')
                .html('<span class="glyphicon glyphicon-minus" aria-hidden="true">-</span>');
            return false;
        }
        function deleteForm(prefix, btn) {
            var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
            if (total > 1){
                btn.closest('.form-row').remove();
                var forms = $('.form-row');
                $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
                for (var i=0, formCount=forms.length; i<formCount; i++) {
                    $(forms.get(i)).find(':input').each(function() {
                        updateElementIndex(this, prefix, i);
                    });
                }
            }
            return false;
        }
        $(document).on('click', '.add-form-row', function(e){
            e.preventDefault();
            cloneMore('.form-row:last', 'form');
            return false;
        });
        $(document).on('click', '.remove-form-row', function(e){
            e.preventDefault();
            deleteForm('form', $(this));
            return false;
        });

        $(document).ready(function () {
            $.get( "{% url 'recipes:ajax_meta_type' %}", function( data ) {
                $(".select-meta-type-cont select").html(data);
                $(".select-meta-data-cont select").prop('disabled', 'disabled');
            });

            $(".select-meta-type-cont select").change(function (e) {
                $.get( "{% url 'recipes:ajax_meta_data' %}", { type_id: $(this).val()}, function( data ) {
                    $(".select-meta-data-cont select").prop("disabled", false);
                    $(".select-meta-data-cont select").html(data);
                });
            })
        })
    </script>

{% endblock %}