{% extends "core/base.html" %}
{% load bootstrap4 %}

{% block content %}
    <div class="form-group">
            <div class=" col-sm-4 d-inline-block">
                    <h1>{{ recipe.name }}</h1>
            </div>
            <div class="col-sm-8 d-inline-block">
                {% if recipe.author == user %}
                    <a href="{% url 'recipes:edit' recipe.id %}" class="btn btn-primary">Modifier la recette</a>
                {% endif %}
            </div>
          </div>
    
    <img class="card-img-top"  alt="100%x180"
                 style="height: 180px; width: 180px; display: block; margin: auto"
                 src="/{{recipe.picture}} "
                 data-holder-rendered="true">
    <table class="table table-bordered" style="margin: 20px 0">
        <tbody>
        <tr>
            <td>Temps de préparation</td>
            <td>{{ recipe.time_preparation }} minute(s)</td>
        </tr>
        <tr>
            <td>Temps de cuisson</td>
            <td>{{ recipe.time_cooking }} minute(s)</td>
        </tr>
        <tr>
            <td>Temps de repos</td>
            <td>{{ recipe.time_rest }} minute(s)</td>
        </tr>
        <tr>
            <td>Coût</td>
            <td>{{ recipe.cost }} €</td>
        </tr>
        <tr>
            <td>Les étapes</td>
            <td>{{ recipe.steps }}</td>
        </tr>
        <tr>
            <td>Ingrédients</td>
            <td>
                <ul>
                    {% for ingredient in ingredients %}
                    <li>{{ingredient.value}}</li>
                {% endfor %}
                </ul>
            </td>
        </tr> 
        <tr>
            <td>Auteur</td>
            <td>{{ recipe.author }}</td>
        </tr> 
        </tbody>
    </table>

    {% if user.is_authenticated %}
        {% include "recipes/score.html" %}
    {% endif %}
    {% include "recipes/comment.html" %}

{% endblock %}