{% extends "core/base.html" %}
{% load bootstrap4 %}

{% block content %}

    <h1>Modifier une recette</h1>
    <form action="{% url 'recipes:edit' id %}" method="post" style="height: 100%" enctype="multipart/form-data">
    <a href="{% url 'recipes:delete' id%}" class="btn btn-danger" onclick="return confirmAction()">Supprimer</a>
       {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">Valider</button>
    {% endbuttons %}
    </form>

    <script>
    function confirmAction(){
        var confirmed = confirm("Voulez-vous vraiment supprimer cette recette ?");
        return confirmed;
    }
    </script>
{% endblock %}