{% extends "core/base.html" %}
{% load bootstrap4 %}

{% block content %}

    <h1>Toutes les recettes</h1>

<div class="pagination">
    <span class="step-links">
        {% if recipes.has_previous %}
            <a href="?page=1">Première page</a>
            <span> - </span>
            <a style="font-size: 25px; font-weight: bold;" href="?page={{ recipes.previous_page_number }}"><</a>
        {% endif %}

        <span class="current">
            Page {{ recipes.number }} / {{ recipes.paginator.num_pages }}
        </span>

        {% if recipes.has_next %}
            <a style="font-size: 25px; font-weight: bold;" href="?page={{ recipes.next_page_number }}">></a>
            <a href="?page={{ recipes.paginator.num_pages }}">Dernière page</a>
        {% endif %}
    </span>
</div>
    <div class="cards">
    {% for recipe in recipes %}
        <div class="card" id="card{{ recipe.id  }}" style="width: 33%; display: inline-block; min-height: 400px; vertical-align: top; margin-bottom: 20px ">
            <img class="card-img-top"  alt="100%x180"
                 style="height: 180px; width: 180px; display: block; margin: auto"
                 src="/{{recipe.picture}} "
                 data-holder-rendered="true">
            <div class="card-body">
                <h5 class="card-title">{{ recipe.name }}</h5>
                <p class="card-text">
                    {{ recipe.steps|truncatechars:110 }}
                </p>
                <a href="{% url 'recipes:detail' recipe.id %}" class="btn btn-primary">Voir la recette</a>
                {% if recipe.author == user %}
                    <a href="{% url 'recipes:edit' recipe.id %}" class="btn btn-primary">Modifier la recette</a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}