{% load bootstrap4 %}

<div>
    <h3>Notez cette recette : </h3>

    {% for i in "12345"|make_list %}

        <button class="star" star="{{ i }}">
            <i class="fas fa-star"></i>
        </button>
    {% endfor %}
</div>

<script>
    $(document).ready(function () {

        var star_value = {{ score }};

        $(".star").each(function () {
            if($(this).attr("star") <= {{ score }}){
                $(this).css("color", "Tomato")
            }
        });


        $('.star').hover(function () {
            var star = $(this).attr("star")
            $('.star').each(function (index) {
                if($(this).attr("star") <= star){
                    $(this).css("color", "Tomato")
                }
            })
        }, function () {
            $('.star').each(function (index) {
                if($(this).attr("star") > star_value) {
                    $(this).css("color", "#d9dadc")
                }
            })
        });

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');

        $('.star').click(function () {
            star_value = $(this).attr("star");

            $.post("{% url 'recipes:score' recipe.id %}", {score: $(this).attr("star"), "csrfmiddlewaretoken": csrftoken});
        });
    })
</script>