{% extends "core/base.html" %}
{% load bootstrap4 %}

{% block content %}

    <table class="table table-bordered" style="margin: 20px 0">
        <thead>
        <tr>
            <th colspan="2">Résultats de la recherche</th>
        </tr>
        <tr>
            <th></th>
            <th>Nom</th>
            <th>Étapes</th>
            <th>Coût (€)</th>
            <th>Temps Total</th>
            <th>Ingrédients</th>
            <th>Lien</th>
        </tr>
        </thead>
        <tbody>
        {% for recipe in recipes %}
            <tr>
                <td> <img class="card-img-top"  alt="100%x180"
                          style="width: 70px; display: block; margin: auto"
                          src="/{{recipe.picture}} "
                          data-holder-rendered="true"></td>
                <td>{{ recipe.name }}</td>
                <td>{{ recipe.steps }}</td>
                <td>{{ recipe.cost }}</td>
                <td>{{ recipe.time_cooking }}</td>
                <td>
                    <ul>
                        {% for ingredient in recipe.ingredients %}
                            <li>
                                {{ ingredient }}
                            </li>
                        {% endfor %}
                    </ul>
                </td>
                <td><a href="{{ recipe.url }}">Consulter la recette</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



{% endblock %}