{% load bootstrap4 %}
{% load static %}
{% bootstrap_css %}
{#{%  bootstrap_javascript jquery='full' %}#}

<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="stylesheet" href="{% static 'style.css' %}"/>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Cooking project</title>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Cooking Project</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'homepage' %}">Accueil</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'recipes:create' %}">Ajouter une recette</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Déconnexion</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Inscription</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Connexion</a>
                    </li>
                {% endif %}
            </ul>
            <form class="form-inline" action="{% url 'recipes:search' %}" style="margin-bottom: 0">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Nom ou autre caractéristique" name="key">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit">Chercher</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</nav>
<div class="container">
    {% block content %}{% endblock %}
</div>
</body>
</html>