{% extends "core/base.html" %}
{% block title %}Home{% endblock %}
{% load static %}

{% block content %}
    <h1>Les dernières recettes</h1>
    <a href="{% url 'recipes:index' %}">Voir toutes les recettes...</a>

    <div class="cards">
    {% for recipe in recipes %}
        <div class="card" id="card{{ recipe.id  }}" style="width: 33%; display: inline-block; min-height: 400px; vertical-align: top; margin-bottom: 20px ">
            <img class="card-img-top"  alt="100%x180"
                 style="height: 180px; width: 180px; display: block; margin: auto"
                 src="/{{recipe.picture}} "
                 data-holder-rendered="true">
            <div class="card-body">
                <h5 class="card-title">{{ recipe.name }}</h5>
                <p class="card-text">
                    {{ recipe.steps|truncatechars:110 }}
                </p>
                <a href="{% url 'recipes:detail' recipe.id %}" class="btn btn-primary">Voir la recette</a>
                {% if recipe.author == user %}
                    <a href="{% url 'recipes:edit' recipe.id %}" class="btn btn-primary">Modifier la recette</a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    </div>

{% endblock %}