{% extends "core/base.html" %}
{% load bootstrap4 %}

{% block content %}

    <h1>Connexion</h1>
    <form action="/account/login" method="post">
       {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">Valider</button>
    {% endbuttons %}
</form>
{% endblock %}