{% extends "core/base.html" %}
{% load bootstrap4 %}

{% block content %}

    <h1>Inscription</h1>
    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">S'inscrire</button>
        {% endbuttons %}
    </form>
{% endblock %}